<img src="logo.png">

# C01. Lenguaje SQL

## ¿Qué son las bases de datos?

Una base de datos es un “almacén” que nos permite guardar grandes cantidades de información de forma organizada para que luego podamos encontrar y utilizar fácilmente. A continuación te presentamos una guía que te explicará el concepto y características de las bases de datos.


Una base de datos se puede definir como un conjunto de información relacionada que se encuentra agrupada ó estructurada. Cada base de datos se compone de una o más tablas que guarda un conjunto de datos. Cada tabla tiene una o más columnas y filas. Las columnas, también llamadas **campos**, guardan una parte de la información sobre cada elemento que queramos guardar en la tabla, cada fila de la tabla conforma un **registro**.

Los Sistemas de Gestión de Base de Datos (en inglés DataBase Management System) son un tipo de software muy específico, dedicado a servir de interfaz entre la base de datos, el usuario y las aplicaciones que la utilizan. Se compone de un lenguaje de definición de datos, de un lenguaje de manipulación de datos y de un lenguaje de consulta.

## ¿Qué es SQL?

El Lenguaje de Consulta Estructurado popularmente conocido por sus siglas en inglés como SQL, es un tipo de lenguaje de programación que ayuda a solucionar problemas específicos o relacionados con la definición, manipulación e integridad de la información representada por los datos que se almacenan en las bases de datos.

Algunos aspectos de SQL están basados en el cálculo relacional, algunos en el álgebra relacional que provienen del modelo relacional y otros a ninguno de los dos sino que son parte de SQL.

## Creación y eliminación de una base de datos

El ícono para abrir script es el siguiente:  

<img src="boton_script.png">

Para crear una base de datos en Pgadmin 4 podemos hacerlo simplemente escribendo 

``CREATE DATABASE <<nombre de nuestra base de datos>>``

Para eliminar una base de datos también lo podemos hacer desde código:

``DROP DATABASE <<nombre de nuestra base de datos>>``

Es posible que nos marque algún error al querer eliminarla por estar activa en uso.

## Creación, eliminación y selección de tablas

**Creación de tablas**

Primero debemos seleccionar la base de datos donde queremos crear la tabla. Abrimos un script y ejecutamos

``CREATE TABLE modulo_victimizacion(
    entidad varchar(2),
    viv varchar(5),
    hogar varchar(5),
    upm varchar(5),
    renglon varchar(20),
	tipo_delito int,
    num_delito int,
    nombre varchar(50),
	apellido varchar(50),
	perdida int
)``

**Selección completa de una tabla**

``SELECT * FROM modulo_victimizacion``

**Eliminación de una columna**

``ALTER TABLE modulo_victimizacion DROP COLUMN entidad;``

**Eliminación de tablas**

``DROP TABLE modulo_victimizacion``

## Insertado de datos

``INSERT INTO modulo_victimizacion(entidad, viv, hogar, upm, renglon, tipo_delito, num_delito, nombre, apellido, perdida)
VALUES ('01','15','03','15','10',3, 1, 'Luis', 'Miranda',2000),
       ('01','15','03','15','10',3, 2, 'Luis', 'Miranda',3000),
       ('02','20','13','10','03',4, 1, 'Oscar', 'Ruiz',1000),
       ('09','16','11','05','01',5, 1, 'Raul', 'Ortiz',4500),
       ('32','12','11','02','04',2, 1, 'Luisa', 'Ortiz',300),
       ('32','12','11','02','04',3, 1, 'Luisa', 'Ortiz',500)
       ;``

Si conocemos el orden de los campos y su tipo, podemos insertar nuevos registros de manera "directa".

``insert into modulo_victimizacion
values ('01','01','01','01','01',6,1,'Jose','Uribe',5000)``

**Selección de campos**

Ya hemos visto que con el comando ``SELECT * FROM`` podemos ver toda una tabla completa. Si solo estamos interesados en ver una columna, usamos el comando ``SELECT <<nombre del campo>> FROM <<nombre de la tabla>>``. Si queremos ver varias columnas, separamos sus nombres por una coma.

``
SELECT tipo_delito, perdida FROM modulo_victimizacion;
``

## Ordenar una tabla de forma ascendente/descendente

Tenemos el comando ``ORDER BY`` para hacer ordenamientos tanto ascendentes como descendentes.

* Ordenamos de manera ascendente

``SELECT * FROM modulo_victimizacion ORDER BY apellido ASC;``


* Ordenamos de manera descendente

``SELECT * FROM modulo_victimizacion ORDER BY apellido DESC;``

* Ordenamos usando un doble criterio

``SELECT * FROM modulo_victimizacion ORDER BY nombre DESC, apellido ASC, perdida DESC;``

Incluso podemos ordenar indicando numéricamente el campo: ``SELECT * FROM modulo_victimizacion ORDER BY 6 ASC;`` (cuidado con este formato, porque toma en cuenta que el total de columnas puede cambiar)

## Filtros

Los filtrados de información los podemos hacer con el comando ``WHERE``.

``SELECT * FROM modulo_victimizacion WHERE perdida > 1000 ORDER BY tipo_delito DESC;``

``SELECT * FROM modulo_victimizacion WHERE entidad  = '01';``

``SELECT * FROM modulo_victimizacion WHERE perdida >= 2000 AND entidad = '01';``

``SELECT * FROM modulo_victimizacion WHERE perdida != 2000;``

## Operadores lógicos

Los operadores lógicos vienen dados por ``AND``, ``OR``, ``NOT`` e ``IN``.

``SELECT * FROM modulo_victimizacion WHERE tipo_delito IN(3)``

``SELECT * FROM modulo_victimizacion WHERE tipo_delito IN(3,5)``. Esta selección a su vez equivale a ``WHERE tipo_delito = 3 OR tipo_delito = 5``

``SELECT * FROM modulo_victimizacion WHERE tipo_delito = 4 AND entidad = '02'``

``SELECT * FROM modulo_victimizacion WHERE nombre IN('Luis')``

``SELECT * FROM modulo_victimizacion WHERE NOT perdida = 4500``

# Delimitando la visualización de una tabla

Podemos visualizar rápidamente solo una parte de nuestras tablas. Para ello disponemos de varios comandos.

* ``LIMIT`` cuántos registros, desde el primero, quieres

``SELECT * FROM modulo_victimizacion LIMIT 2``

* ``OFFSET`` muestra a partir de qué registro se quiere ver (tomar en cuenta que el índice comienza en 0)

``SELECT * FROM modulo_victimizacion OFFSET 2``

* ``BETWEEN`` muestra registros en un rango. El comando ``<<campo>> BETWEEN a AND b`` significa $\mbox{campo}\in[a,b]$

``SELECT * FROM modulo_victimizacion WHERE perdida BETWEEN 1000 AND 3000``, que equivale a ``SELECT * FROM modulo_victimizacion WHERE perdida >=1000 AND perdida <= 3000``

## Filtros con expresiones

Si queremos hacer filtros con expresiones de cadena, podemos usar los comandos ``LIKE`` e ``ILIKE``. 

Por ejemplo, supongamos que por alguna razón buscamos a las víctimas cuyo nombre comienza con "Luis". Esto lo hacemos con la instrucción 

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE 'Luis%'``

El *comodín* % significa que no importa qué siga después de la palabra **Luis**. 

Si por el contrario, buscamos nombres que terminen con "sa", escribimos el comodín % previo a la expresión "sa":

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE '%sa'``

Incluso, podemos utilizar varias veces el comodín. Por ejemplo, si buscamos los nombres que tengan una "u" previa a una "s" **y que pueden no comenzar con u o terminar con s** entonces escribimos

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE '%u%s%'``

Ahora bien, el comodín % tiene la característica de significar "cualquier cosa antes, después o entre". Esto incluye que no importan cuántos caracteres se encuentren. Por ejemplo, la expresión "%a" representa palabras que terminen en *a*, no importando qué le preceda ni **cuántos caractareres le precedan**. Si queremos controlar el número de caracteres que estén antes, en medio, o después de la expresión, usamos el comodín _ . 

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE 'Lu__'``

El comodín _ es totalmente análogo en su funcionamiento al comodín %. De hecho se pueden combinar:

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE 'L%s_'``

Por otra parte, es importante notar que ```LIKE`` es sensible a las mayúsculas.

``SELECT * FROM modulo_victimizacion WHERE nombre LIKE 'l%s_' ``

Para evitar esta sensibilidad usamos ``ILIKE``, cuya única diferencia respecto a ``LIKE`` es la sensibilidad mayúsculas/minúsculas.

Además, existen sus negaciones: ``NOT LIKE`` y ``NOT ILIKE``

## Eliminación y actualización de registros

Podemos vaciar todos los elementos de una tabla **sin borrar la tabla como tal**. Es decir, la tabla sigue existiendo, pero se  cambia todos los valores del campo **perdida** a 100000.queda sin registros.

``DELETE FROM modulo_victimizacion``

También podemos eliminar solo ciertos registros:

``DELETE FROM modulo_victimizacion WHERE nombre LIKE 'Luis_'``

Por otra parte, las actualizaciones se pueden hacer global o localmente en nuestras tablas.

* ``UPDATE modulo_victimizacion SET perdida = 100000`` cambia todos los valores del campo **perdida** a 100000.

* ``UPDATE modulo_victimizacion SET entidad = '32' WHERE nombre = 'Luis'`` cambia todos los valores del campo **entidad** a '32' para quienes se llamen "Luis".

## Funciones

Como todo lenguaje de programación, SQL nos permite crear funciones que nos ayuden a limpiar, estructurar y mejorar nuestros códigos. En [esta dirección](https://www.postgresql.org/docs/9.6/sql-createfunction.html) encontrarás la documentación oficial de Pgadmin para la construcción de funciones.

**Ejemplo 1:** Una función que suma dos números $x$ y $y$, siendo ambos números enteros.

CREATE OR REPLACE FUNCTION sumar(x int, y int)

RETURNS int AS 

$$

DECLARE z int;

BEGIN

	z = x + y;

	RETURN z;

END

$$

LANGUAGE 'plpgsql';

Para mandar a llamar una función hacemos
``select * from sumar(3,7)``


**Ejemplo 2:** Una función para ingresar directamente registros a la tabla:

``CREATE OR REPLACE FUNCTION ingresar_registro(entidad varchar(2), viv varchar(5), hogar varchar(5), 
									   upm varchar(5), renglon varchar(20), tipo_delito int,
									  num_delito int, nombre varchar(50), apellido varchar(50), 
									   perdida int)
RETURNS int AS`` 

$$

``BEGIN``

``insert into modulo_victimizacion
VALUES (entidad,viv,hogar,upm,renglon,tipo_delito,num_delito,nombre,apellido,perdida);``

``RETURN 0;``

``END``

$$

``LANGUAGE 'plpgsql';``

Podemos ejecutar la siguiente instrucción para ejecutarla:

``select * from ingresar_registro('15','11','01','21','15',7,1,'Armando','Rodriguez',5000)``

## Respaldo y restauración de bases de datos

Respaldar bases de datos es muy sencillo. Para hacerlo, consulta la Sesión 03 AABD_SQL