<img src="logo.png">

# C04. Funciones predefinidas

En SQL, como en cualquier otro lenguaje de programación, existen funciones predefinidas que nos ayudan con las consultas de manera rápida. Pensando que SQL es un lenguaje orientado a bases de datos y tablas, no es de extrañarse que sus propias funciones estén enfocadas en el cálculo de índices.

En este capítulo estudiaremos las más frecuentes.

## Funciones de Agregado.

Son cinco funciones.

### Función AVG (promedio)

Supongamos que queremos conocer el promedio de los valores de una columna de una tabla. Para ello usamos la función AVG:

``select avg(campo) from tabla``

Ahora bien, si queremos que el resultado aparezca con alguna cabecera particular (por ejemplo "Promedio buscado") escribimos

``select avg(campo) as 'Promedio buscado' from tabla``

### Función min (mínimos)

Supongamos que queremos conocer el valor mínimo de una columna de una tabla. Para ello usamos la función MIN:

``select min(campo) from tabla``

o ``select min(campo) as 'Valor máximo' from tabla``

### Función max (máximos)

Nos permite conocer el máximo. Funciona igual que min.

### Función sum (suma)

Supongamos que queremos conocer la suma de todos los valores de una columna de una tabla. Para ello usamos la función SUM:

``select sum(campo) from tabla``

o ``select sum(campo) as 'Suma' from tabla``

### Función count 

Supongamos que queremos conocer la cantidad de registros de una tabla. Para ello usamos la función COUNT:

``select count(*) from tabla``

o ``select count(*) as 'Total de registros' from tabla``

## Funciones Numéricas

Son útiles para procesar datos numéricos.

### Función ROUND (redondeo)

Sirve para hacer redondeos.

``select round(VALOR A REDONDEAR, CANTIDAD DE DECIMALES);``

Por ejemplo, ``select round(avg(CAMPO), 3) from tabla`` calcula el promedio de los valores de CAMPO de la tabla TABLA y luego lo redondea a tres decimales.

### Funciones CEILING y FLOOR

Sirven para calcular la función techo ($\lceil x\rceil$) y la función piso ($\lfloor x\rfloor$). Recordemos que la función piso, también conocida como *parte entera*, significa redondear a $x$ al entero más cercano desde abajo, y además $\lceil x\rceil=\lfloor x\rfloor+1$: ``select ceiling(VALOR)`` y ``select floor(VALOR)``

### Función ABS (valor absoluto)

Calcula el valor absoluto del dato:

``select abs(valor)``

### Función RAND (número aleatorio)

Para generar un valor aleatorio entre 0 y 1, tenemos la función rand.

``select rand()``

Aquí podemos comentar el siguiente Teorema:

**Teorema.** Si $X\sim U(0,1)$ y $Y=\lfloor mX+1\rfloor$, donde $m\in\{1,2,3,\cdots\}$, entonces $Y\sim U\{1,2,\cdots,m\}$

Es decir, si $X$ es un número aleatorio entre 0 y 1, entonces $\lfloor mX+1\rfloor$ es un entero aleatorio del conjunto $\{1,2,\cdots,m\}$. 

En PostgreSQL, puedes fijar una semilla para la generación de números aleatorios utilizando la función `setseed()`. Esta función establece la semilla para la generación de números aleatorios en el entorno de sesión actual. Aquí tienes un ejemplo de cómo hacerlo:

`SELECT setseed(0.5); -- Fija la semilla en 0.5`

Esta consulta establecerá la semilla en 0.5. A partir de este punto, cualquier llamada a funciones de generación de números aleatorios en la misma sesión utilizará esta semilla para iniciar la secuencia.

Es importante destacar que el valor pasado a setseed() debe estar entre -1 y 1. Esto es porque PostgreSQL utiliza la técnica de "generador de números pseudoaleatorios" (PRNG), y el valor de la semilla se toma como un número flotante entre -1 y 1.


### Función POW (elevar potencias) y SQRT

Para calcular $a^b$ hacemos ``select pow(a,b);``. Si queremos la raíz cuadrada $\sqrt{a}$ usamos ``select sqrt(a);``

### Función MOD (módulos)

Para calcular $x$ tal que $a\equiv x(\mathrm{mod} m)$ tenemos la función mod: ``select mod(x,m);``.

## Funciones de texto

Estas, como su nombre lo indica, nos sirven para procesar datos de tipo cadena.

### Función UPPER

Sirve para escribir los textos en mayúsculas.

``select upper(CAMPO) from TABLA`` nos devuelve los valores de la columna CAMPO de la tabla TABLA en mayúsculas.

### Función LOWER

Sirve para escribir los textos en minúsculas.

``select lower(CAMPO) from TABLA`` nos devuelve los valores de la columna CAMPO de la tabla TABLA en minúsculas.

### Función CONCAT

Sirve para concatenar.

``select concat(CAMPO1, CAMPO2) from TABLA`` nos devolverá la columna CAMPO1 concatenada, sin espacios, con CAMPO2. Esta función ya la hemos visto anteriormente, así que recuerda que incluso podemos añadir caracteres en sus argumentos. Por ejemplo, ``select concat(CAMPO1, ' ' CAMPO2) from TABLA`` nos dará el mismo resultado que el anterior pero con un espacio entre ambos campos.

### Función LENGTH

Nos permite conocer la longitud de una variable de cadena (es decir, cuántos caracteres tiene)

``select length(valor)``

### Función TRIM, LTRIM y RTRIM

Nos permite eliminar los espacios de una cadena de texto.

``select trim(' hola ')`` nos devuelve como respuesta *'hola'*

``select ltrim(' hola ')`` nos devuelve como respuesta *'hola    '*

``select rtrim(' hola ')`` nos devuelve como respuesta *'  hola'*

### Función SUBSTR

Nos permite recortar cadenas de texto. Toma tres argumentos: el primero es la cadena a recortar, el segundo es la posición de inicio y el tercero, que es opcional, es la longitud de la subcadena.

``select substr(CAMPO,1,3) from TABLA`` nos devolverá los primeros tres caracteres de la columna CAMPO de TABLA.

### Función INSTR

Devuelve la posición donde encuentra una cadena. Tiene dos argumentos: el primero es el valor donde realizará la búsqueda, y el segundo es la cadena que buscará. Devuelve 0 si no la encuentra.

``select instr(CAMPO,'val') from TABLA`` nos devuelve una columna donde en cada entrada indica la posición en la que encuentra el texto *val* dentro de columna CAMPO de TABLA.

**Importante:** no diferencia entre mayúsculas y minúsculas.

### Función LPAD y RPAD

Sirven para completar cadenas de caracteres hasta obtener una nueva cadena con una longitud dada.

``select lpad('hola',30,'*')`` añadirá tantos símbolos * necesarios a la izquierda de *hola* hasta obtener un string de tamaño 30.

``select rpad('hola',30,'*')`` añadirá tantos símbolos * necesarios a la derecha de *hola* hasta obtener un string de tamaño 30.

### Función REPLACE

Nos permite reemplazar cadenas.

``select replace(CAMPO,'hola','hola mundo') from TABLA`` se fijará en la columna CAMPO de TABLA. Cada vez que encuentre la cadena *hola*, la reemplazará por *hola mundo*.

**Importante:** sí diferencia entre mayúsculas y minúsculas.

### Función REVERSE

Toma un valor de tipo texto y lo invierte

``select reverse('pgadmin')`` nos devuelve ``nimdagp``.

### Función REPEAT

Repite una cadena el número de veces indicada.

``select repeat('pgadmin',3)`` nos devuelve *pgadminpgadminpgadmin*.